{% extends "base.html" %}

{% block title %}轻博客{% endblock %}

{% block wrap %}
  <div class="container">
    <div class="hero-unit">
      简简单单记录生活
    </div>
    <form action="." method="post" class="login-form">
      <p>
        <label>邮箱</label>
        <input type="text" name="email" />
      </p>
      <p>
        <label>密码</label>
        <input type="password" name="password" />
      </p>
      <p>
        <button type="submit">登录</button>
      </p>
    </form>
    <div class="login-info">
      <p><a href="/auth/reg">注册</a>|<a href="#">忘记密码</a></p>
    </div>


  </div>
{% endblock %}

