{% extends "base.html" %}

{% block title %}注册帐号{% endblock %}

{% block wrap %}
  <div class="container">
    <div class="hero-unit">
      简简单单记录生活
    </div>
    <form action="/auth/reg" method="post" class="reg-form">

      <p>
        <label>邮箱</label>
        <input type="text" name="email" id="id_reg_email"/>
      </p>
      <p>
        <label>密码</label>
        <input type="password" name="password" id="id_reg_pw"/>
      </p>
      <p>
        <button type="submit">注册</button>
      </p>
    </form>
      <span class="email-error"></span>
      <span class="pw-error"></span>
    <div class="login-info">
      <p>已有密码，请<a href="/">登录</a></p>
    </div>

  </div>
{% endblock %}

